$color-primary: #4e5bee;
$color-secondary: #ffffff;
$color-gray: #504f60;
$font-primary: "Roboto", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
}

body{
    .mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        height: 100vh;
        background-color: $color-primary;
        
    
        .logo{
            margin-bottom: 94.21px;

            img {
                width: 177px;
                
            }
    
        }
    
        .form {
            display: flex;
            flex-direction: column;
            width: 300px;
            
            input{
                height: 50px;
                border: solid 2px $color-secondary;
                border-radius: 25px;
            }
            
            div{
                position: relative;
                label{
                    position: absolute;
                    left: 20px;
                    top: 15px;
                }
                
                input{
                    width: 300px;
                    background-color: transparent;
                    padding-left: 50px;
                    padding-right: 20px;
                    font-size: 18px;
                    color: $color-secondary;
                }
            }

            .login{
                margin-bottom: 18px;
            }

            .btn-submit{
                cursor: pointer;
                font-size: 18px;
                font-weight: 500;
                margin-top: 26px;
                background-color: $color-secondary;
                color: $color-gray;
            }
        }
    
        footer {

            margin-top: 130px;
            color: $color-secondary;

            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $color-secondary;
                text-decoration: none;

                :hover{
                    color: #f6a8f6;
                }

                :visited{
                    color: $color-secondary;
                }
            }

        }
    }

}

.desktop {
    display: none;
}

@media (min-width: 834px) {
    body {
        display: flex;

        .mobile {
            width: 44vw;
        }

        .desktop {
            display: block;
            width: 66vw;
            height: 100vh;
            background-color: rgb(246, 168, 246);

            .desktop-image {
                position: absolute;
                left: 25%;
                // bottom: 0;
                width: 75%;
                height: 99%;
            }
        }
    }
}
