$color-primary: #4e5bee;
$color-secondary: #ffffff;
$color-gray: #504f60;
$font-primary: "Roboto", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $color-primary;

    .mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo {
            padding-top: 100px;
            padding-bottom: 94.21px;

            img {
                width: 177px;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            width: 300px;

            input {
                height: 50px;
                border: solid 2px $color-secondary;
                border-radius: 25px;
            }

            div {
                position: relative;
                label {
                    position: absolute;
                    left: 20px;
                    top: 15px;
                }

                input {
                    width: 300px;
                    background-color: transparent;
                    padding-left: 50px;
                    padding-right: 20px;
                    font-size: 18px;
                    color: $color-secondary;
                }
            }

            .username {
                color: $color-secondary;
                font-size: 14px;
                margin-bottom: 18px;

                .username-message{
                    display: none;
                    padding: 2px 20px;
                }
            }

            .btn-submit {
                cursor: pointer;
                font-size: 18px;
                font-weight: 500;
                margin-top: 26px;
                background-color: $color-secondary;
                color: $color-gray;
            }
        }

        footer {
            padding-top: 130px;
            padding-bottom: 29px;

            color: $color-secondary;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $color-secondary;
                text-decoration: none;

                :hover {
                    color: #f6a8f6;
                }

                :visited {
                    color: $color-secondary;
                }
            }
        }
    }
}

.desktop {
    display: none;
}

@media (min-width: 834px) {
    body {
        .mobile {
            width: 44vw;

            .logo {
                padding-top: 0px;
            }

            .form {
                .btn-submit{
                    transition: 0.3s;
                }

                .btn-submit:hover {
                    transform: translateY(-5px);
                }
            }

            footer {
                padding-bottom: 0px;
            }
        }

        .desktop {
            display: block;
            width: 66vw;
            height: 100vh;
            background-color: $color-secondary;
            z-index: -1;

            .desktop-image {
                position: absolute;
                left: 25%;
                width: 75%;
                height: 99%;
            }
        }
    }
}
